
*{
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
} 

body{
    /*background-color:#cdbdec;*/
    background: linear-gradient(to bottom, #ffffcc 0%, #ffcccc 100%)
}

.titulo{
    font-size:50px;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    color: #cc0066;
    text-decoration:rgb(165, 161, 165) underline;
}

.menu{
    display: flex;
    list-style-type: none;
    font-size: xx-large;
    color:#800033 ;
}

ul{
    display: flex;
    justify-content:space-evenly; 
    text-decoration:none;
}

a{
    text-decoration:none;
}

.imagenInicio{
    width: 100%;
    text-align: center;
}

.tamañoImg{
    width: 100%;
    text-align: center;
    filter: grayscale(100%);
    transition: all 2s;
}

.tamañoImg:hover{
    filter: none;
}

.contenedorFooter{
    display: flex;
    justify-content:space-evenly;
    margin-top: 0%;
}

.copyright{
    text-align: center;
    font-size: 20px;
}

.mapa{
    width: 100%;
    height: auto;
    text-align: center;
}

/*formulario*/

.formulario{
    width: 1000px;
    height: auto;
    margin-top: 70px;
}

.formul{
    text-align: center;
    font-size: 20px;
}

#comentario{
    width: 31%;
    margin: 0px;
    font-size: 25px;
    background-color: white;
}

.entrada_texto{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    height: 100%;
    width: 15%;
    background-color: white;
}

/*GRIDS*/

.contenedorPadre{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 99%;
    grid-template-rows: auto auto auto;
}
.grid_header{
    grid-area: header;
}
.grid_main{
    grid-area: main;
}
.grid_footer{
    grid-area: footer;
}

.grid_main{
    display: grid;
    justify-content: center ; /*horizontal*/
    align-content: center; /*vertical*/
}

.img1-1{
    width: 350px;
    height: auto;
}

@media screen and (min-width: 360px) and (max-width: 768px){
    .imgMedia{
        width: 100%;
    }

    .contenedorPadre{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-columns: 99%;
        grid-template-rows: auto auto auto;
    }
    .grid_header{
        grid-area: header;
    }
    .grid_main{
        grid-area: main;
    }
    .grid_footer{
        grid-area: footer;
    }
    
}